.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $contrastColor;
    background-color: $accentColor;
    border-radius: 4px;
    border-color: $accentColor;
}